@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;
    font-weight:400;
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype');
}

@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GmarketSansMedium';
}
body {
    background: url(../image/background04.jpg) no-repeat center fixed ;
    /* background-repeat: no-repeat; */
    /* background-size: 1600px 900px; */
    background-size: cover;
}

.header {
    font-family:'DNFBitBitv2';
    font-size: 100px;
    color: #fff;
    text-align: center;
} 

.main {
    background-color: #fff;
    width: 1200px;
    height: 770px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 40px 730px;
    position: relative;
}

.main_top {
    background-color: #D3D3D3;
    border-radius: 20px 20px 0 0;           
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    /* padding-top: 1.2rem; */ 
}

.top_date {
    text-align: start;
    margin-left: 30px;
    font-size: 16px;
    font-family: 'LABDigital';
}

.main_top>:nth-child(n + 2) {
    border-right: 1px solid #000;
}

.main_top :last-child {
    border-right: none;
}

.back{
    position: relative;
    top: 3px;
}

.Gear {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.dropdown {
    position: absolute;
    left: 110px;
    top: 0px;
    width: 320px;
    height: 420px;
    /* border: 0.5px solid #000; */
    border-radius: 20px;
    background-color: #f2ede7;
    z-index: 1;
    padding: 20px 30px 5px 30px;
    opacity: 0;
    text-align: left;
}

.drop_titles {
    font-family: 'GmarketSansMedium';
    font-size: 17px;
    margin-top: 10px;
}

input[type="range"] {
    -webkit-appearance: none; 
    overflow: hidden;
    width: 100%; 
    height: 20px;
    background: transparent; 
    cursor: pointer;
    background: #ffffff;
    border-radius: 50px;
}

input[type="range"]:focus {
    outline: none; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #393e51;
    box-shadow: -100.5vw 0 0 100vw #435792;
    border: 0.1px solid #435792;
    border-radius: 50px;
    cursor: pointer;
}

.character_main {
    height: 265px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

[type="radio"] {
    display: none;
}

.radio_label {
    display: inline-block;
    width: 127px;
    height: 127px;
}

.sum01 {
    background-image: url(../image/sum01.png);
    background-repeat: no-repeat;
    background-size: 8rem;
}

.sum02 {
    background-image: url(../image/sum02.png);
    background-repeat: no-repeat;
    background-size: 8rem;
}

.sum03 {
    background-image: url(../image/sum03.png);
    background-repeat: no-repeat;
    background-size: 8rem;
}

.sum04 {
    background-image: url(../image/sum04.png);
    background-repeat: no-repeat;
    background-size: 8rem;
}

label > img {
    width: 127px;
    height: 127px;
}

[type="radio"]:checked+.radio_label {
    border: 1px solid #435792;
}

#toggle {
    display: none;
}

#toggle:checked+.dropdown{
    opacity: 1;
}

/* .back>a:hover{
    border: none;

}

.back>a:hover>.dropdown {
    display: inline-block;
    opacity: 1;
} */

.dropdown>form>button[type="submit"]{
    padding: 9px 25px;
    margin: 3px 88px;
    cursor: pointer;
}

.main_mid {
    display: grid;
    grid-template-columns: 4.5fr 2.5fr;
    /* margin-top: 10px; */
    padding: 29px;
    padding-top: 20px;
}

.main_left {
    margin-right: 40px;
}

.list_box {
    border: 1px solid #000;
    display: flex;
    width: 740px;
    height: 510px;
    background-color: #BDAA8A;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .gauge_item {
    width: 750px;
} */

.month_block {
    width: 300px;
    display: inline-block;
    text-align: center;
}

.main_left :nth-child(n + 2):nth-child(-n + 3){
    /* margin-top: 0; */
    margin-bottom: 10px;
}

.gauge_name {
    font-family: 'GmarketSansMedium';
    font-weight: 100;
    padding-left: 10px;
}

.gauge_bar {
    background-color: #f2ede7;
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
    height: 30px;
}

.gauge_bar_ing {
    background-color: #BDAA8A;
    width: 30%;
    height: 100%;
}

.gauge_bar_yet {
    background-color: #f2ede7;
    width: 100%;
    height: 100%;
}

table {
    background-color: #f2ede7;
    border-radius: 10px;
    width: 740px;
    height: 420px;
    text-align: center;
}
caption {
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

th {
    padding-top: 15px;
    padding-left: 14px;
    color: #fff;
    border-radius: 10px;
    
}  
th .sun{
    background-color: #BDAA8A;
}
th .sat{
    background-color: #435792;
}
th p {
    width: 70px;
    height: 35px;
    line-height: 33px;
    background-color: #393e51;
    font-family: 'NotoSerifKR';
    font-size: 1.6rem;
    font-weight: 300;
    /* padding: 0.3rem 1.4rem; */
    border-radius: 10px;
}

td {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #393e51;
    /* background-color: #435792; */
}

.today_a {
    padding: 5px 15px; 
    border-radius: 10px; 
    background-color: #D3D3D3;
}

td > a:hover {
    padding: 5px 15px;
    border: 2px solid #000;
    border-radius: 10px;
}

.main_right {
    width: 350px;
}

.nick_name_item {
    margin-top: 25px;
    text-align: center;
    background-color: #f2ede7;
    border-radius: 10px;
    font-family: 'GmarketSansMedium';
    font-size: 1.1rem;
    height: 60px;
    line-height: 60px;
}

.name {
    font-size: 1.3rem;
}

#nick {
    border: none;
    background: none;
    outline: none;
    font-size: 1.2rem;
    width: 160px;
}

.name_button {
    border: none; 
    background-color: #435792;
    color: #dcdadc;
    font-family: 'DNFBitBitv2';
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: inset 0 0 16px -7px #000;
    cursor: pointer;
}


/* .img_add {
    display: none;
} */

.main_right > .img_p {
    /* border: 1px solid #000; */
    border-radius: 20px;
    margin-top: 30px;
    width: 100%;
    height: 555px;
    box-shadow: 0 0 16px -7px #000;
}

.img_p>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#char_img1:checked  {
    background-image: url('../image/background.png');
}
input:checked {
    border: 1px solid black;
}