* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("./img/background.png") no-repeat center fixed ;
    /* background-repeat: no-repeat; */
    /* background-size: 1600px 900px; */
    background-size: cover;
}
.header {
    font-family: "DNF Bit Bit v2";
    font-size: 100px;
    color: #fff;
    text-align: center;
}
.login{
    background: url("./img/login.png") no-repeat center;
    background-size: 280px;
    font-family: "DNF Bit Bit v2";
    font-size: 40px;
    color: #F2EDE7;
    text-align: center;
    padding: 70px;
}
.login_title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "DNF Bit Bit v2";
    font-size: 18px;
    color: #F2EDE7;
    margin: 60px;
}
.login_title_right {
    display: flex;
    justify-content: flex-end;
}