.hader {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
}

.div-position1,
.div-position2,
.div-position3 {
    border: 1px solid #000;
    width: 80px;
    height: 80px;
    position: absolute;
}
.div-position1 {
    top: 10%;
    left: 10%;
}
.div-position2 {
    top: 30%;
    right: 30%;
}
.div-position3 {
    bottom: 10%;
    left: 20%;
}