/* position으로 사용한 css코드 */
/* .header, .container, .footer {
    width: 700px;
}
.container {
    position: relative;
    height: 565px;
}
.section1 {
    top: 2%;
    left: 2%;
}
.section2 {
    top: 2%;
    right: 2%;
}
.section3 {
    bottom: 2%;
    left: 2%;
}
.section4 {
    bottom: 2%;
    right: 2%;
}
.container > div {
    position: absolute;
    border: 1px dashed #000;
    padding: 1rem;
    width: 300px;
}
.footer {
    background-color: black;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
} */

/* float 코드 사용 */
.header, .container, .footer {
    width: 750px;
}

.container > div {
    border: 1px dashed #000;
    padding: 1rem;
    width: 320px;
    float: left;
}
.footer {
    background-color: black;
    width: 700;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    clear: left;
}