* {
    margin: 0;
    padding: 0;
}
body {
    padding: 1rem;
}
fieldset {
    padding: 1rem;
    background-image: url('../img/min_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
legend {
    font-size: 2rem;
    font-weight: 900;
    color: slateblue;
}
.requier::before {
    content: '*';
    color: red;
}
input:focus, textarea:focus {
    border: 3px solid red;
    outline: none;
}
input[name="radio"]:checked + label {
    color: red;
}
input, textarea {
    background-color: transparent;
    /* 이것도 가능 background: none */
}
label[for="req"] {
    vertical-align: top;
}
.chk-content {
    background-color: black;
    color: #fff;
    display: none;
}
button:hover + .chk-content {
    display: inline;
}
