* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #617AFF;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    background-color: #8194ff;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
}
main {
    background-color: #b8c3ff;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 40px;
}
main > div {
    margin: 20px 0;
}
.main-top {
    text-align: right;
}
.main-top > a {
    width: 120px;
    padding: 10px;
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    background-color: #fff;
    margin: 5px 0;
}

.list-head {
    font-weight: 900;
    color: #fff;
    background-color: #8194ff;
    border-radius: 30px;
}

