* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}


/* haeder */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu > img {
  margin-right: 2rem;
}
.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.menu > ul > li > a { 
  color: #000;
  font-size: 18px;
}
.menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  background-color: #8db64d;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  gap: 5px;
  margin-top: 20px;
  color: #fff;
}
.menu_button > img {
  width: 30px;
}
.mine_meun {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.mine_title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20rem 15rem 20rem 0;
}
.mine_title > p {
  text-align: center;
}
.mine_title > h1 {
  font-size: 2.5rem;
}

/* introduction */
.int_title {
  text-align: center;
  margin: 5rem;
}
.int_button_li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.int_button_li > li > a {
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: #e7a832;
}
.int_button_li > li > a:hover {
  background-color: #6ab4e1;
}
.int_mine_title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}