* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu > img {
  margin-right: 6rem;
}
.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
.menu > ul > li > a { 
  color: #000;
  font-size: 18px;
}
.menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6rem;
  background-color: #8db64d;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  gap: 5px;
  margin-top: 20px;
  color: #fff;
}
.menu_button > img {
  width: 30px;
}
.mine_meun {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.mine_title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20rem 15rem 20rem 0;
}
.mine_title > p {
  text-align: center;
}
.mine_title > h1 {
  font-size: 2.5rem;
}
.int_title {
  text-align: center;
  margin: 5rem;
}